@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
/* about section start */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;

}

.about_section {
    width: 100%;
    float: left;
    background-color: #001431;
    height: auto;
    padding: 90px 0px 40px 0px;
}

.about_text_main {
    width: 100%;
    float: left;
    padding: 100px 0px;
}

.about_taital {
    margin-top: -40px;
    float: left;
    font-size: 40px;
    color: #ffffff;
    font-weight: bold;
}

.about_text {
    width: 85%;
    float: left;
    font-size: 16px;
    color: #fefefd;
}

.about_img {
    width: auto;
    margin-top: 20px;
    margin-left: 25px;
}

.readmore_bt {
    width: 170px;
    float: left;
}

.readmore_bt a {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #ffffff;
    background-color: #e73232;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    text-transform: uppercase;
}

.readmore_bt a:hover {
    color: #ffffff;
    background-color: #205bb3;
}