.about_section {
    margin-top: -7px;
    background-color: #001431;
}

.about_taital {
    font-size: 40px;
    color: #ffffff;
    font-weight: bold;
    margin-bottom: 20px;
}

.about_text {
    font-size: 16px;
    color: #fefefd;
}

.readmore_bt .btn {
    background-color: #e73232;
    border-radius: 5px;
    text-transform: uppercase;
    padding: 10px;
}

.readmore_bt .btn:hover {
    background-color: #205bb3;
}

.about_img img {
    margin-left: 0px;
    margin-top: 20px;
    width: 100%;
    height: auto;
}