/* Global styles */
body {
    color: #666666;
    font-size: 14px;
    line-height: 1.8;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}

a {
    color: #1f1f1f;
    text-decoration: none;
    transition: all 0.3s ease;
}

/* Header Section */
.header_section {
    width: 100%;
    height: 50rem;
    position: relative;
}

/* Left Container */
.left-container {
    background-color: #001431;
    color: #fefefd;
    padding: 100px 30px;
}

.banner_taital {
    font-family: 'Baloo Bhai 2', cursive;
    font-size: 4rem;
    margin-left: 40px;
    text-transform: uppercase;
    font-weight: bold;
}

.banner_text {
    font-family: 'Baloo Bhai 2', cursive;
    font-size: 2.5rem;
    margin-left: 40px;
    padding-top: 10px;
}

.both-btn {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.both-btn .me-2 {
    margin-left: -310px;
}

.both-btn:hover {
    cursor: pointer;
    background-color: #021430;
    color: #1f1f1f;
}

/* Right Container */
.right-container {
    background-color: #f8f2e2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner_img img {
    max-width: 100%;
    height: auto;
}

.stickyicon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    /* Adjust font size for the icon */
    text-align: center;
    padding: 0;
    line-height: 60px;
    transition: transform 0.3s ease;
}

.stickyicon:hover {
    transform: scale(1.1);
}


/* Adjustments for smaller screens */
@media (max-width: 767.98px) {
    .header_section {
        height: auto;
        /* Adjust height for better responsiveness */
    }

    .banner_taital {
        font-size: 2rem;
    }

    .banner_text {
        font-size: 0.875rem;
    }

    .both-btn {
        flex-direction: column;
        align-items: center;
    }

    .btn {
        width: 100%;
    }

    .stickyicon {
        width: 50px;
        height: 50px;
        font-size: 1.7rem;
        bottom: 50px;
        right: 15px;
    }
}