.profile-img {
  position: relative;
  top: -50px;
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.card-img-top {
  background-size: cover;
  background-position: center;
}

.read-more-container {
  max-height: 0;
  overflow: hidden;
  transition: max-height 1s ease;
}

.read-more-container.show {
  max-height: 200px;
}

.bg-custom-dark-blue:hover {
  color: red;
}