.s-title {
    font-size: 4rem;
    margin-top: 15px;
    margin-bottom: 50px;
    color: #001431;
  }
  
  .service i {
    font-size: 3rem;
    color: #001431;
    margin-bottom: 15px;
  }
  
  .service h3 {
    margin-bottom: 10px;
    color: #001431;
  }
  
  ul {
    list-style: none;
    padding-left: 0;
  }
  
  li {
    line-height: 1.6;
  }
  