.footer {
    margin-top: 1px;
    background-color: #001431 !important;
}


.footer-text p {
    font-size: 1.6rem;
}

.footer-iconTop .btn {
    background: var(--main-color);
    transition: .5s ease;
}

.footer-iconTop .btn:hover {
    box-shadow: 0 0 1rem var(--main-color);
    cursor: pointer;
}

.footer-iconTop .btn i {
    font-size: 2.8rem;
    color: var(--second-bg-color);
}

.p-2 {
    padding: 0;
}

@media (max-width: 767.98px) {
    .footer-text p {
        font-size: 1rem;
    }
}